page-login {
    .keppmeloggedin{
        font-size: 14px;
        color:#c80032;
    }

    .smallCheckbox{
        width: 15px;
        height: 15px;
    }

    .loginButton{
        background-color:#b4001e;
        color: white;
    }

    .footer{
        color: lightgrey;
        align-items: center;
        align-self: center;
        text-align: center;
       
    }
}
