<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Chat with us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <!-- <ion-list class="bottom-margin">
        <ion-item *ngFor="let chat of chats" no-lines>
            <div text-right class="container">
              <img src="../../assets/imgs/icon.png" alt="Avatar" style="width:50%;">
              <p text-justify text-wrap>{{chat}}</p>
            </div>
        </ion-item>
    </ion-list> -->

    <div text-right class="container" *ngFor="let chat of chats">
      <img src="../../assets/imgs/icon.png" alt="Avatar" style="width:50%;">
      <span text-right text-wrap>{{chat}}</span>
    </div>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
        <ion-col col-1 (click)="startListening()">
            <ion-icon name="ios-mic"></ion-icon>
        </ion-col>
      <ion-col col-10>
          <ion-input type="text" placeholder="Type your message" [(ngModel)]="data.message" [color]="isRecording ? 'danger' : ''"></ion-input>
      </ion-col>
      <ion-col col-1 (click)="sendMessage(data.message)">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
